@import './reset';
@import './variable';
@import './mixin';

.wrapper {
  margin: 0 auto;
  width: 400px;
}

.header {
  background-color: $navy;
  height: 100px;
  position: relative;
  @include item-color();
  &__menu {
    align-items: center;
    background-color: $white;
    display: flex;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    &-item {
      height: 40px;
      width: 40px;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.main {
  display: flex;
  height: 250px;
  @include item-color();
  &__side-bar {
    background-color: $green;
    width: 150px;
  }
  &__content {
    background-color: $red;
    position: relative;
    width: 250px;
    &-block {
      position: absolute;
      left: 40px;
      top: 40px;
      &-item {
        border: solid 5px $white;
        height: 40px;
        margin-top: 10px;
        width: 140px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.footer {
  background-color: $brown;
  height: 100px;
}